@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Rubik", sans-serif;
}

section{
    background: hsl(226, 43%, 10%);
    height: 100vh;
    width: 100vw;
    display: flex;
}
.display-flex{
    display: flex;
    margin: auto;
    gap: 16px;
}

.grid-container{
    margin: auto;
    width: 250px;
    height: 416px;
    color: #fff;
    border-radius: 12px;
}

.br{
    border-radius: 12px;
}


/* ############## person div styling #################### */
.item-1{
    height: 100%;
    background-color: hsl(235, 46%, 20%);
}

.person-info{
    height: 70%;
    padding: 3rem;
    background-color: hsl(246, 80%, 60%);
    border-radius: 12px;
}

.person-info img{
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.person-info .report{
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.451);
    margin-top: 3.6rem;
}

.person-info .person-name{
    font-size: 3.6rem;
    font-weight: 300;
}


.report-span{
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.report-span .btn{
    background: none;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.451);
    transition: color 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.451);
    cursor: pointer;
}

.report-span .btn:hover{
    color: white;
    cursor: pointer;
}



/* ######################### grid item div styling ######################333 */
.display-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 16px;
    position: relative;
}

.grid-item{
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 220px;
}

.grid-item .icon{
    position: absolute;
    right: 0;
    top: -10px;
}

.container{
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 80%;
    background-color: hsl(235, 46%, 20%);
    padding: 2rem 3rem;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.2s ease-in-out;
}

.container .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.heading h2{
    font-size: 1.8rem;
    font-weight: 300;
    
}

.container .time {
    display: block;
    font-size: 4rem;
    font-weight: 300;
    margin-top: 2rem;
}

.container .prev{
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.451);
    font-weight:300;

}
.container:hover{
    background-color: hsl(235, 45%, 61%);
}

.Work-info{
    background-color: hsl(15, 100%, 70%);
}

.Play-info{
    background-color: hsl(195, 74%, 62%);
}

.Study-info{
    background-color: hsl(348, 100%, 68%);
}

.Exercise-info{
    background-color: hsl(145, 58%, 55%);
}

.Social-info{
    background-color: hsl(264, 64%, 52%);
}

.Care-info{
    background-color: hsl(43, 84%, 65%);
}

/* FOR MOBILE AND TABLET SCREENS */

@media screen and (max-width: 968px) {


    section{
        height: auto;
        
    }
    .display-flex{
        flex-direction: column;
        width: 90%;
       
    }
    .grid-container{
        height: auto;
        width: 100%;

    }

    .item-1{
        height: 300px;
    }

    .report-span{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        padding: 2rem 3rem;
    }


    .person-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }

    .person-info div .report{
        padding: 10px 0;
        margin: 0;
    }

    .person-info img{
        height: 90px; 
        width: 90px;
    }

    .person-info .person-name{
        font-size: 2rem;
    }

    .display-grid{
        grid-template-columns: 100%;
        grid-template-rows: 200px;
        
    }
    .grid-item{
        width: auto;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .flex .prev{
        font-size: 2rem;
    }
    
    
}
